[Unit]
Description=Restart wait-online on resume
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/bin/systemctl try-restart wait-online.service

[Install]
WantedBy=sleep.target
